openai-whisper
matplotlib
fire
evaluate
datasets
jiwer
more_itertools
peft
torchaudio==2.4.0
torch==2.4.0
vllm
transformers
distro
vector_quantize_pytorch
webdataset
git+https://github.com/homebrewltd/WhisperSpeech.git
